<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ metaTitle if metaTitle else title + " — " + site.title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ page.url | absoluteUrl(site.url) }}">
  <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/css/styles.css">
  {%- for script in scripts %}
  <script type="module" src="{{ script }}"></script>
  {%- endfor %}
</head>
